<app-header />

<main>
  <ul id="users">
    <li>
      <app-user
       [user]="users[0]"
        (select)="onClickedUser($event)"
      />
    </li>
    <li>
      <app-user
        [user]="users[1]"
        (select)="onClickedUser($event)"
      />
    </li>
    <li>
      <app-user
         [user]="users[2]"
        (select)="onClickedUser($event)"
      />
    </li>
    <li>
      <app-user
        [user]="users[3]"
        (select)="onClickedUser($event)"
      />
    </li>
    <li>
      <app-user
        [user]="users[4]"
        (select)="onClickedUser($event)"
      />
    </li>
    <li>
      <app-user
        [user]="users[5]"
        (select)="onClickedUser($event)"
      />
    </li>
  </ul>
  
  <app-tasks [name]="clickedUser.name"/>
</main>
