<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="initial-investment">Initial Investement</label>
      <input id="initial-investment" type="number" placeholder="Enter amount" />
    </p>
    <p>
      <label for="annual-investment">Annual Investement</label>
      <input id="annual-investment" type="number" placeholder="Enter amount" />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected-return">Expected Return</label>
      <input id="expected-return" type="number" placeholder="Enter amount" />
    </p>
    <p>
      <label for="duration">Duration</label>
      <input id="duration" type="number" placeholder="Enter amount" />
    </p>
  </div>
  <div>
    <button type="submit">Calculate</button>
  </div>
</form>
